<head>
    <body>
        <title>Ayuda</title>
        <h1>
            Explicación
        </h1>
            En este documento, encontrás asistencia para los problemas más comunes de <b>Arch Easy.</b>
        <h2>    
            Menú
        </h2>   
            Aquí encontrarás Acceso Rápido a las diferentes partes de este documento 
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Ayuda</a></li>
            <li><a href="#">Explicación</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </body>
</head>